<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="default(currentPage, totalPages, url)">
        <ul class="pagination" th:if="${totalPages > 0}">
            <li class="page-item" th:classappend="${currentPage == 0 ? 'disabled' : ''}">
                <a class="page-link" th:href="@{${url}(page=${currentPage - 1})}">&lt;</a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}" 
                th:classappend="${i == currentPage ? 'active' : ''}">
                <a class="page-link" th:href="@{${url}(page=${i})}" th:text="${i + 1}"></a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages - 1 ? 'disabled' : ''}">
                <a class="page-link" th:href="@{${url}(page=${currentPage + 1})}">&gt;</a>
            </li>
        </ul>
    </div>
</body>
</html>
